<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AngularJS + SignalR real time updates with SQL Server</title>
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/app/app.js"></script>
    <script src="/Scripts/app/main.js"></script>
    <script src="/Scripts/app/DSCtrl.js"></script>
    <style>
        .buttons{
            width:80px;
        }
        .tooltip {
            display: block;
            position: relative;
        }

            .tooltip:hover:after {
                background: black;
                /*background: rgba(0,0,0,.8);*/
                border-radius: 5px;
                border-width:20px;
                border-color:red;
                /*bottom: -20px;*/
                color: white;
                content: attr(xxxx);
                left:0%;
                padding: 10px 10px;
                position: absolute;
                z-index: 5000;
                width: attr(width);
                height: auto;
                white-space:normal;
                overflow:auto;
            }
    </style>

</head>
<body  ng-app="main" ng-controller="DSCtrl">

    <h2 style="text-decoration:underline" >AngularJS + SignalR real time updates with SQL Server</h2>
<!--    <button value="Click GetAll." ng-click="GetAll()" >GetAll</button>-->
    <button ng-click="AddToBugsList()" >Add Bug</button>

         <table >
                    <tr>
                        <td>
                        <div >
                            <table style="width:100px;white-space:nowrap">
                                    <tr>
                                        <th style="text-align:left;">Problem</th>
                                        <th style="text-align:left;">Response</th>
                                        <th style="text-align:left;">Date Created</th>
                                        <th style="text-align:left;">Date Answered</th>
                                        <th></th>
                                    </tr>
                                    <tr data-ng-repeat="(key,o) in bugsList"   data-ng-style="{backgroundColor: o.editColor}"  >
<!--                                    <td style="width:20px;">
                                        {{o.id}}
                                    </td>                                     
                                    <td style="width:20px;">
                                        {{key}}
                                    </td> -->                                           
                                     <td style="width:180px;" >
                                         <input style="width:180px;" type="text" ng-model="o.problem" ng-show="o.isEditable" />
                                         <div  class="tooltip" xxxx="{{o.problem}}"  >
                                            <div style="width:204px;white-space:nowrap; overflow:hidden;" ng-show="!o.isEditable" >{{o.problem}}</div>
                                         </div>
                                    </td>                                      
                                    <td style="width:100px;">
                                        <input style="width:180px;" type="text" ng-model="o.response" ng-show="o.isEditable" />
                                        <div  class="tooltip" xxxx="{{o.response}}"  >
                                            <div style="width:184px;white-space:nowrap; overflow:hidden;" ng-show="!o.isEditable" >{{o.response}}</div>
                                         </div>
                                      </td>                                      
                                    <td style="width:100px;">
                                          <div style="width:180px;white-space:nowrap">{{o.dateCreated | date:'dd/MM/yyyy @ HH:mm'}}</div>
                                    </td>                                        
                                    <td style="width:100px;">
                                          <div style="width:180px;white-space:nowrap">{{o.dateResolved | date:'dd/MM/yyyy @ HH:mm'}}</div>
                                    </td>   
                                    
                                   
                                    <td >
                                          <button class="buttons" ng-disabled="o.isDisabled"  ng-click="EditBug(o, key)" ng-show="!o.isEditable">Edit</button>
                                          <button class="buttons"   ng-click="UpdateBug(o, key)" ng-show="o.isEditable">Update</button>
                                      
                                    </td>                                      
                                    <td >
                                          <button class="buttons"  ng-disabled="o.isDisabled" ng-click="DeleteBug(o, key)" ng-show="!o.isEditable" >Delete</button>
                                           <button class="buttons"  ng-click="CancelBug(o, key)" ng-show="o.isEditable">Cancel</button>
                                   </td>  
                                                                        
 
                                </tr>
                            </table>

  
                        </div>

                        </td>
                    </tr>
                </table>


        <button ng-click="UpdateAll()" >Update</button>


</body>
</html>
