<div style="background-color:black; border-width:2px; border-style:solid; border-color:white; border-radius:6px;">
    <div class="modal-header" style="color:wheat;">
        <h3 class="modal-title">Confirm Delete ?</h3>
    </div>
    <div class="modal-body" style="color:wheat;"><b>{{ message }}</b>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" style="background-color:red;">OK</button>
        <button class="btn btn-warning" ng-click="cancel()" style="background-color:gray;">Cancel</button>
    </div>
</div>